extends app

block cart
  .container
    h1 My Bag
    table.table
      - var total = 0
      for item in items
        tr
          td
          td.image(rowspan="2")
            img.img-rounded(src="#{item.item_image}")
          td
            h3.name #{item.item_name}
          td
          td
        tr
          td
          td
          form(method="post")
          td.information
            span.price Price :
            b $ #{item.item_price}
            span.qty Quantity :
            input(value="#{item.item_count}")
            br
            a.remove(href="/cart/#{item.item_name}?qty=#{item.item_count}") Remove
          td
          td
        - total += item.item_price * item.item_count
    hr
    if items.length != 0
      .subtotal
        p
          b SUBTOTAL :
          span
            b $ #{total}
    .buttons
      button.btn.check-out CHECKOUT
