extends app

block cart
  .container
    h1 My Bag
    table.table
      - var total = 0
      for item in items
        tr
          td
          td.image(rowspan="2")
            img.img-rounded(src="#{item.item_image}")
          td
            h3.name #{item.item_name}
          td
          td
        tr
          td
          td.information(colspan="3")
            span.price Price :
            b $ #{item.item_price}
            span.qty Quantity :
            input(value="#{item.item_count}", data-qty="#{item.item_count}")
            button.btn.update(type="submit", data-id="update", data-name="#{item.item_name}") UPDATE
            br
            a.remove(href="/cart/#{item.item_name}/delete?qty=#{item.item_count}") Remove
          td
        - total += item.item_price * item.item_count
    if items.length != 0
      hr
      .subtotal
        p
          b SUBTOTAL :
          span
            b $ #{total.toPrecision(4)}
      .buttons
        button.btn.check-out(data-id="purchase") CHECKOUT
    else
      h4.emptyMSG Your Bag is empty.
